nav .btns{
    width: fit-content;
    margin: 0 auto;
}

button{
background-color: #22333c;
color: aliceblue;
border-left-color: aqua;
border-right-color: aqua;
border-radius: 10%;
margin: 0 5px;
}
button.hover{
    background-color: #18455a;
    scale: 1.05;
}

body{ 
    background-color: #22333b;
}

p{
    color: aliceblue;
}
h2{
color: rgb(191, 225, 253);
}

h1{
    color:rgb(191, 225, 253);
    border-style: double;
    text-align: center;
}

label{
    
    color: aliceblue;
    list-style: circle;
}
