button{
background-color: #22333c;
color: aliceblue;
border-left-color: aqua;
border-right-color: aqua;
border-radius: 10%;
}
body{

    background-color: #22333b;
}
output{
    color: rgb(230, 63, 63);
}
